<h1>Bienvenido</h1>
<br>
<br>


<div class="row">
    <div class="col-md-4">
        <a [routerLink]='["/alumnos"]'>
        <div class="" style="width: 18rem;">
            <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Ficons.iconarchive.com%2Ficons%2Fwebalys%2Fkameleon.pics%2F512%2FStudent-3-icon.png&f=1&nofb=1" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-text" style="text-align: center">Alumnos</h2>
            </div>
          </div>
        </a>
    </div>
    <div class="col-md-4">
        <a [routerLink]='["/maestros"]'>
        <div class="" style="width: 18rem;">
            <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.flaticon.com%2Ficons%2Fpng%2F512%2F206%2F206897.png&f=1&nofb=1" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-text" style="text-align: center">Maestros</h2>
            </div>
          </div>
         </a>
    </div>
    <div class="col-md-4">
        <a [routerLink]='["/grupos"]'>
        <div class="" style="width: 18rem;">
            <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.shareicon.net%2Fdownload%2F2016%2F07%2F08%2F792754_school_512x512.png&f=1&nofb=1" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-text" style="text-align: center">Grupos</h2>
            </div>
          </div>
         </a>
    </div>
</div>