<h1>Bienvenido</h1>
<h4>Elija una opción en la barra de navegación</h4>


<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-title">
                <b style="text-align: center">Alumnos</b>
            </div>
            <div class="card-body">
                <img width="50%" height="50%" src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Ficons.iconarchive.com%2Ficons%2Fwebalys%2Fkameleon.pics%2F512%2FStudent-3-icon.png&f=1&nofb=1" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-title">
                <b style="text-align: center">Maestros</b>
            </div>
            <div class="card-body">
                <img width="50%" height="50%" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.flaticon.com%2Ficons%2Fpng%2F512%2F206%2F206897.png&f=1&nofb=1" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-title">
                <b style="text-align: center">Grupos</b>
            </div>
            <div class="card-body">
                <img width="100px" height="100px" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.shareicon.net%2Fdownload%2F2016%2F07%2F08%2F792754_school_512x512.png&f=1&nofb=1" alt="">
            </div>
        </div>
    </div>
</div>